<div class="ticket" [style.background-color]="quantity > 0 ? 'var(--pico-form-element-background-color)' : '' ">
  <b>{{ currentTicket.location }}</b>

  <div>
    <div class="desc">
      <div class="badges">
        <div>
          <p>{{ currentTicket.price }} € each one</p>
        </div>
        <div>
          <p>{{ formatViews(currentTicket.available) }} available</p>
        </div>
      </div>


      <div>
        <div class="ticketsInfo">
          <div>
            <i class="fa-solid fa-users"></i>
            <p>{{ formatViews(currentTicket.sold) }} sold</p>
          </div>

          <div>
            <p>{{ currentTicket.soldPercent.toFixed(0) }}% sold</p>
          </div>
        </div>

        <div class="pgBar">
          <div [style.width.%]="currentTicket.soldPercent"></div>
        </div>
      </div>
    </div>

    <div class="quantity-container">
      <div class="quantity-control">
        <button
          (click)="updateQuantity(quantity - 1)"
          class="secondary outline"
          [disabled]="quantity <= 0"
        >
          <i class="fa-solid fa-minus"></i>
        </button>

        <input
          type="number"
          [value]="quantity"
          (change)="updateQuantity($any($event.target.value))"
          min="1"
          [max]="currentTicket.available"
        />

        <button
          (click)="updateQuantity(quantity + 1)"
          class="secondary outline"
          [disabled]="quantity >= currentTicket.available"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>



<style>
  .ticket {
    border: var(--pico-border-width) solid var(--pico-secondary-border);
    border-radius: var(--pico-border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
    }
  }
  .desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .badges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    & > * {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px;
      background-color: var(--pico-code-background-color);
      border-radius: var(--pico-border-radius);
    }
  }

  .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      padding: 0.5rem;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      width: 60px;
      text-align: center;
      padding: 0.5rem;
      margin: 0;
    }
  }

  .pgBar {
    width: 100%;
    height: 3px;
    background-color: var(--pico-secondary);
    border-radius: var(--pico-border-radius);

    & > div {
      background-color: var(--pico-primary);
      border-radius: var(--pico-border-radius);
      height: 100%;
    }
  }
  .ticketsInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
      gap: 10px
    }
  }

  @media (max-width: 950px) {
    .ticket > div {
      flex-direction: column;
      align-items: stretch;
    }

    .counter {
      justify-content: center;
      width: fit-content;
    }
  }
</style>
