<div class="create">
  <h2>Concerts</h2>
  <button (click)="openDialog($event)">Create new</button>
</div>

<app-admin-concert-dialog
  [concert]="getDefaultConcert()"
  (getOpenDialog)="setOpenDialog($event)"
  (onCreatedConcert)="addConcert($event)"
  (onUpdatedConcert)="updateConcert($event)"
/>


<div
  class="list"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="loadConcerts()"
>
  @for (concert of concerts(); track concert.slug) {
    <app-admin-concert-card [concert]="concert" (onDeletedConcert)="deleteConcert($event)" (onUpdatedConcert)="updateConcert($event)" />
  } @empty {
    @if(!loading) {
      <p class="no-concerts">There are no concerts.</p>
    }
  }

  @if(loading) {
    <div class="loading">
      <app-loading-gif />
    </div>
  }
</div>


<style>
</style>
