<div class="mainContainer">
  <div class="advantages">
    <div>
      <i class="fa-solid fa-comments"></i>
      <p>Comment on concerts</p>
    </div>

    <div>
      <i class="fa-solid fa-bolt"></i>
      <p>Fast and secure checkout</p>
    </div>

    <div>
      <i class="fa-solid fa-heart"></i>
      <p>Save your favorite events</p>
    </div>

    <div>
      <i class="fa-solid fa-envelope"></i>
      <p>Get personalized recommendations</p>
    </div>
  </div>

  <div class="operationTitle">
    @if(operation === 'login') {
      <h2>Login</h2>
    } @else if(operation === 'signin') {
      <h2>Signin</h2>
    } @else {
      <h2>Forgot password</h2>
    }
  </div>

  <app-show-error [generalError]="true" [error]="errors[operation].general" />

  <form [formGroup]="forms[operation]" (ngSubmit)="submitForm()">
    @if (operation === 'login') {
      <div>
        <div class="content">
          <i class="fa-solid fa-address-card"></i>
          <input type="text" placeholder="username or email" formControlName="credential" autocomplete="username email"
            [attr.aria-invalid]="isInvalid(errors.login.credential)"
          />
        </div>

        <app-show-error [error]="errors.login.credential" />
      </div>

      <div>
        <div class="content">
          <i class="fa-solid fa-key"></i>
          <input type="password" placeholder="password" formControlName="password" autocomplete="current-password"
            [type]="showPassword.login ? 'text' : 'password'"
            [attr.aria-invalid]="isInvalid(errors.login.password)"
          />
          <app-show-password [showPassword]="showPassword.login" (setInputType)="setInputType('login', $event)"/>
        </div>

        <app-show-error [error]="errors.login.password" />
      </div>

    } @else if(operation === 'signin') {
      <div>
        <div class="content">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="username" formControlName="username" autocomplete="username"
            [attr.aria-invalid]="isInvalid(errors.signin.username)"
          />
        </div>

        <app-show-error [error]="errors.signin.username" />
      </div>

      <div>
        <div class="content">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="email" formControlName="email" autocomplete="email"
            [attr.aria-invalid]="isInvalid(errors.signin.email)"
          />
        </div>

        <app-show-error [error]="errors.signin.email" />
      </div>

      <div>
        <div class="content">
          <i class="fa-solid fa-key"></i>
          <input type="password" placeholder="password" formControlName="password" autocomplete="new-password"
            [type]="showPassword.signin ? 'text' : 'password'"
            [attr.aria-invalid]="isInvalid(errors.signin.passwords)"
          />
          <app-show-password [showPassword]="showPassword.signin" (setInputType)="setInputType('signin', $event)"/>
        </div>

      </div>

      <div>
        <div class="content">
          <i class="fa-solid fa-key"></i>
          <input type="password" placeholder="repeat password" formControlName="passwordRepeat" autocomplete="new-password"
            [type]="showPassword.signin ? 'text' : 'password'"
            [attr.aria-invalid]="isInvalid(errors.signin.passwords)"
          />
          <app-show-password [showPassword]="showPassword.signin" (setInputType)="setInputType('signin', $event)"/>
        </div>

        <app-show-error [error]="errors.signin.passwords" />
      </div>

    } @else if(operation === 'forgot-password') {
      <div>
        <div class="content">
          <i class="fa-solid fa-address-card"></i>
          <input type="text" placeholder="username or email" formControlName="credential" autocomplete="username email"
            [attr.aria-invalid]="isInvalid(errors['forgot-password'].credential)"
          />
        </div>

        <app-show-error [error]="errors['forgot-password'].credential" />
      </div>
    }

    <button [class.outline]="!forms[operation].valid || !errors.canSubmit" [disabled]="!forms[operation].valid || !errors.canSubmit">
      Send
    </button>
  </form>

  <div class="operations">
    @if(operation === 'login') {
      <p>
        Don't have an account?
        <a routerLink="/auth/signin">Create account</a>
      </p>
    } @else {
      <p>
        Do you have an account?
        <a routerLink="/auth/login">Log in</a>
      </p>
    }

    <p class="noMobile">|</p>

    <p>
      Forgot
      <a routerLink="/auth/forgot-password">your password?</a>
    </p>
  </div>

</div>


<style>
  .mainContainer {
    max-width: 1000px;
    margin: auto !important;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;

    input:-webkit-autofill {
      transition: background-color 9999s;
    }
  }


  form > div .content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .operations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .advantages {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .advantages > div {
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  @media (max-width: 765px) {
    .advantages {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto !important;
      padding-bottom: 0;
    }
    .advantages > div {
      width: unset;
    }
  }
</style>
