<div class="relative">
  <swiper-container #swiper init="false">
    @for (img of images; track $index) {
      <swiper-slide [style.background-color]="background" [style.aspect-ratio]="aspectRatio">
        <div class="imgContainer">
          @if(img.navigateTo) {
            <a [href]="img.navigateTo">
              <img [src]="img.src" alt="carousel {{ $index }}"/>
            </a>
          } @else {
            <img [src]="img.src" alt="carousel {{ $index }}"/>
          }

          @if(img.title) {
            <h3 class="title">{{ img.title }}</h3>
          }
        </div>
      </swiper-slide>
    }
  </swiper-container>

  <div #next class="navigation next" [class.enabled]="this.navigation" [hidden]="images.length === 0">
    <i class="fa-solid fa-chevron-right"></i>
  </div>

  <div #prev class="navigation prev" [class.enabled]="this.navigation" [hidden]="images.length === 0">
    <i class="fa-solid fa-chevron-left"></i>
  </div>
</div>


<style>
  swiper-container, .relative {
    width: 100%;
    height: 100%;
  }
  .relative {
    position: relative;

    &:hover .navigation.enabled {
      display: flex;
    }
  }

  .title {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  swiper-slide {
    display: flex;
    align-items: center;
  }

  swiper-slide .imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain
    }
  }

  .navigation {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > i {
      font-size: smaller
    }

    &.next {
      right: 5px;
    }
    &.prev {
      left: 5px;
    }
  }
</style>
