<div class="sideMenu">
  <div class="content">
    <details open>
      <summary>
        <i class="fa-solid fa-user"></i>
        <h3>Account</h3>
      </summary>

      <div class="detailsContent">
        <a routerLink="/profile/account" [class.current]="section() === 'account'">Account</a>
      </div>
    </details>

    <details open>
      <summary>
        <i class="fa-solid fa-calendar-days"></i>
        <h3>Events</h3>
      </summary>

      <div class="detailsContent">
        <a routerLink="/profile/orders" [class.current]="section() === 'orders'">Orders</a>
      </div>
    </details>

  </div>
</div>


<style>
  .sideMenu {
    height: 100%;
    padding: 20px;

    .content {
      height: 100%;
      background-color: var(--pico-form-element-background-color);
      border-radius: var(--pico-border-radius);
      border: var(--pico-border-width) solid var(--pico-secondary-border);
    }
  }

  details {
    border-bottom: var(--pico-border-width) solid var(--pico-secondary-border);
  }
  details summary {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    user-select: none;

    h3 {
      flex: 1;
      font-size: 1.2em;
    }
  }
  details .detailsContent {
    display: flex;
    flex-direction: column;

    a {
      color: var(--pico-h3-color);
      padding: 10px 20px;
      text-decoration: none;
    }
    a.current, a:hover {
      text-decoration: underline;
      text-decoration-color: var(--pico-underline);
    }
  }
</style>
