<div class="card">
  <app-user-avatar [avatar]="user.image" height="50px" width="50px"/>

  <div class="cardInfoHeader">
    <div class="head">
      <div>
        <h3>{{ user.username }}</h3>
        <code>{{ formatUserRole(user.role) }}</code>
        <div class="isActive" [class.active]="user.isActive"></div>
      </div>

      <div>
        <details #settings class="settings dropdown">
          <summary>
            <i class="fa-solid fa-gear"></i>
          </summary>

          <div class="content">
            <div (click)="settingsDeleteUser()">
              <i class="fa-solid fa-trash"></i>
              <p>Delete</p>
            </div>
          </div>
        </details>

        <div class="edit" (click)="openDialog($event)">
          <i class="fa-solid fa-pen"></i>
        </div>
      </div>

    </div>

    <div class="mail">
      <p>{{ user.email }}</p>
    </div>

    <div class="body">
      <p>Following users: {{ user.followingUsersLength }}</p>
      <p class="separator">|</p>
      <p>Following groups: {{ user.followingGroupsLength }}</p>
    </div>
  </div>
</div>


<app-admin-user-dialog
  [user]="user"
  (onUpdatedUser)="pipeOnUpdated($event)"
  (getOpenDialog)="setOpenDialog($event)"
/>

<style>
</style>
