<div class="create">
  <h2>Users</h2>
</div>


<div
  class="list"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="loadUsers()"
>
  @for (user of users(); track user.username) {
    <app-admin-user-card [user]="user" (onUpdatedUser)="updateUser($event)" (onDeletedUser)="deleteUser($event)" />
  }
  <!-- @empty {
    <p>No comments yet. Be the first one to comment!</p>
  } -->

  @if(loading) {
    <div class="loading">
      <app-loading-gif />
    </div>
  }
</div>

<style>
</style>
