<div class="create">
  <h2>Users</h2>
</div>


<div
  class="users"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="loadUsers()"
>
  @for (user of users(); track user.username) {
    <app-admin-user-card [user]="user" (onUpdatedUser)="updateUser($event)" (onDeletedUser)="deleteUser($event)" />
  }
  <!-- @empty {
    <p>No comments yet. Be the first one to comment!</p>
  } -->

  @if(loading) {
    <div class="loading">
      <app-loading-gif />
    </div>
  }
</div>

<style>
  .users, .create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .create {
    flex-direction: row;
		align-items: center;
    justify-content: space-between;

		button {
			width: fit-content;
		}
  }
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
