<form [formGroup]="passwordsForm" (submit)="submitForm()">
  <h3>Password</h3>

  <app-show-error [generalError]="true" [error]="errors.general.msg" [icon]="errors.general.icon" />

  <div>
    <div class="content">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="old password" formControlName="oldPassword" autocomplete="current-password"
        [type]="showPassword.old ? 'text' : 'password'"
        [attr.aria-invalid]="isInvalid(errors.oldPassword)"
      />
      <app-show-password [showPassword]="showPassword.old" (setInputType)="setInputType('old', $event)" />
    </div>

    <app-show-error [error]="errors.oldPassword" />
  </div>


  <div>
    <div class="content">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="new password" formControlName="newPassword" autocomplete="new-password"
        [type]="showPassword.new ? 'text' : 'password'"
        [attr.aria-invalid]="isInvalid(errors.newPasswords)"
      />
      <app-show-password [showPassword]="showPassword.new" (setInputType)="setInputType('new', $event)" />
    </div>
  </div>

  <div>
    <div class="content">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="repeat new password" formControlName="newPasswordRepeat"
        autocomplete="new-password" [type]="showPassword.new ? 'text' : 'password'"
        [attr.aria-invalid]="isInvalid(errors.newPasswords)"
      />
      <app-show-password [showPassword]="showPassword.new" (setInputType)="setInputType('new', $event)" />
    </div>

    <app-show-error [error]="errors.newPasswords" />
  </div>

  <button [class.outline]="!passwordsForm.valid || !errors.canSubmit || fetching"
    [disabled]="!passwordsForm.valid || !errors.canSubmit || fetching">

    @if(fetching) {
      <app-loading-gif />
    } @else {
      Update
    }
  </button>
</form>

<style>
  form {
    margin: 0 auto !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;

    input:-webkit-autofill {
      transition: background-color 9999s;
    }
  }


  form>div .content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .generalError {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--pico-contrast-background);
    border-radius: var(--pico-border-radius);
    padding: 15px 20px;
    margin-top: 20px !important;

    & * {
      color: var(--pico-contrast-inverse)
    }
  }

</style>
