<div class="card">
  <div class="image">
    <img [src]="group.image" alt="group image" />
  </div>

  <div class="cardInfoHeader">
    <div class="head">
      <div>
        <h3>{{ group.title }}</h3>
        <code>{{ formatMusicGroupStatus(group.status) }}</code>
        <div class="isActive" [class.active]="group.isActive"></div>
      </div>

      <div>
        <details #settings class="settings dropdown">
          <summary>
            <i class="fa-solid fa-gear"></i>
          </summary>

          <div class="content">
            <div (click)="settingsDeleteGroup()">
              <i class="fa-solid fa-trash"></i>
              <p>Delete</p>
            </div>
          </div>
        </details>

        <div class="edit" (click)="openDialog($event)">
          <i class="fa-solid fa-pen"></i>
        </div>
      </div>

    </div>

    <div class="desc">
      <p>{{ group.description }}</p>
    </div>

    <div class="body">
      <p>Followers: {{ group.followers }}</p>
      <p class="separator">|</p>
      <p>Concerts: {{ group.concerts }}</p>
    </div>
  </div>
</div>


<app-admin-music-group-dialog
  [group]="group"
  (onUpdatedGroup)="pipeOnUpdated($event)"
  (getOpenDialog)="setOpenDialog($event)"
/>

<style>
  .image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--pico-border-radius)
  }
</style>
