.list, .create {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.create {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    width: fit-content;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
