dialog article {
  padding: 0;

  header,
  header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header>div {
    cursor: pointer;
  }

  footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

form>div .content {
  display: flex;
  align-items: center;
  gap: 20px;

  .rm {
    cursor: pointer;
  }

  &.space-between {
    justify-content: space-between;
  }

  img {
    width: 1.125em;
    height: 1.125em;
  }
}


textarea {
  field-sizing: content;
}
